.input_class {
    display: inline-block!important;
    width: auto!important;
}

.bg {
    background-color: cyan;
}

.b_canvas {
    height: 100%;
}

.canvas {
    position: relative;
    height: 500px;
    width: 340px;
    /* margin: auto; */
    left: 50%;
    /* right: 0; */
    top: 50%;
    /* bottom: 0; */
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: -3px 3px 14px 1px #ac9494cf;
    border: 1px solid #fff;
}

.canvas_login {
    height: 320px;
}

.logindiv div {
    /*display: inline-block;*/
    text-align: center;
}

.login-item {
    display: inline-block;
}

#mpanel1 div {
    margin: 0px auto;
}

.login-d {
    margin: 5px 0 15px;
}

.loginbar {
    margin: 15px 10px;
    line-height: 40px;
    font-size: 18px;
    color: #000000;
}

.i-class {
    color: #000000;
    padding-right: 10px;
}

.onError {
    display: block;
    color: red;
    font-size: 12px;
    margin-top: 10px;
    line-height: 12px;
}

.login_toastbar {
    text-align: right;
    margin: 35px 15px 0px;
}

.login_toastbar a:hover {
    text-decoration: none;
}

.loginbtn {
    text-align: center;
}

body {
    height: 100%;
    margin: 0px;
    background: #C6FFDD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html {
    height: 100%;
}

.breath_c {
    /* IE10、Firefox and Opera，IE9以及更早的版本不支持 */
    animation-name: breath;
    /* 动画名称 */
    animation-duration: 5s;
    /* 动画时长3秒 */
    animation-timing-function: ease-in-out;
    /* 动画速度曲线：以低速开始和结束 */
    animation-iteration-count: infinite;
    /* 播放次数：无限 */
    /* Safari and Chrome */
    -webkit-animation-name: breath;
    /* 动画名称 */
    -webkit-animation-duration: 5s;
    /* 动画时长3秒 */
    -webkit-animation-timing-function: ease-in-out;
    /* 动画速度曲线：以低速开始和结束 */
    -webkit-animation-iteration-count: infinite;
    /* 播放次数：无限 */
}

@keyframes breath {
    from {
        opacity: 1;
    }
    /* 动画开始时的不透明度 */
    50% {
        opacity: 0.8;
    }
    /* 动画50% 时的不透明度 */
    to {
        opacity: 1;
    }
    /* 动画结束时的不透明度 */
}

@-webkit-keyframes breath {
    from {
        opacity: 1;
    }
    /* 动画开始时的不透明度 */
    50% {
        opacity: 0.8;
    }
    /* 动画50% 时的不透明度 */
    to {
        opacity: 1;
    }
    /* 动画结束时的不透明度 */
}

.bg-class {
    /* IE10、Firefox and Opera，IE9以及更早的版本不支持 */
    animation-name: bgcolor;
    /* 动画名称 */
    animation-duration: 15s;
    /* 动画时长3秒 */
    animation-timing-function: ease-in-out;
    /* 动画速度曲线：以低速开始和结束 */
    animation-iteration-count: infinite;
    /* 播放次数：无限 */
    /* Safari and Chrome */
    -webkit-animation-name: bgcolor;
    /* 动画名称 */
    -webkit-animation-duration: 15s;
    /* 动画时长3秒 */
    -webkit-animation-timing-function: ease-in-out;
    /* 动画速度曲线：以低速开始和结束 */
    -webkit-animation-iteration-count: infinite;
    /* 播放次数：无限 */
}

@keyframes bgcolor {
    from {
        background-color: #ff9393;
    }
    /* 动画开始时的不透明度 */
    50% {
        background-color: #577f1c;
    }
    to {
        background-color: #ff9393;
    }
    /* 动画结束时的不透明度 */
}

@-webkit-keyframes bgcolor {
    from {
        background-color: #ff9393;
    }
    /* 动画开始时的不透明度 */
    /* 动画开始时的不透明度 */
    50% {
        background-color: #577f1c;
    }
    to {
        background-color: #ff9393;
    }
    /* 动画结束时的不透明度 */
}